[submodule "fira"]
	path = fonts/fira
	url = https://github.com/tonsky/FiraCode.git
	shallow = true
[submodule "codeface"]
	path = fonts/codeface
	url = https://github.com/chrissimpkins/codeface.git
	shallow = true
[submodule "plex"]
	path = fonts/plex
	url = https://github.com/IBM/plex.git
	shallow = true
[submodule "fonts/spacemono"]
	path = fonts/spacemono
	url = https://github.com/googlefonts/spacemono.git
